{# app/Resources/TwigBundle/views/Exception/error404.html.twig #}
{% extends 'base.html.twig' %}

{% block body %}
    <h1>An error occured !</h1>

    <p>
        An internal server error occured ! Sorry !
    </p>
{% endblock %}
